<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class='ui text container' style="padding:5em">
      <div> 
      <div class="ui center aligned header">
        <div class="ui input focus">
          <input id="liplat" placeholder="Chhoe..."/>
  
        </div>
        <input class="ui inverted olive button" id="chhoeButton" type="submit" name="submit_button" value="감゛₂분゛₅">
      </div>
      <div>
        <h1 class="ui center aligned header" id="chhoe">緊來揣!</h1>
      </div>

    </div>
    
  </body>
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
  <script src="../static/js/code.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
</html>